<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * * The content above * * * * * * * * * * * -->
<!-- * * * * * * * * * * is only a placeholder * * * * * * * * * * -->
<!-- * * * * * * * * * * and can be replaced. * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->
<!-- * * * * * * * * * * End of Placeholder * * * * * * * * * * * -->
<!-- * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * * -->

<router-outlet></router-outlet>

<div class="container" id="general">
  <div class="row position-absolute top-50 start-50 translate-middle">
    <div class="col-12" id="screen">
      <input class="pantalla" type="text" id="calcularnum" value="{{calcularnum}}" />
      <input class="pantalla" type="text" id="resultadopant" value="{{resultadopant}}" readonly />
    </div>
    <div class="col-9" id="numeros">
      <button class="boton" (click)="insertarnum(9)">9</button>
      <button class="boton" (click)="insertarnum(8)">8</button>
      <button class="boton" (click)="insertarnum(7)">7</button>
      <button class="boton" (click)="insertarnum(6)">6</button>
      <button class="boton" (click)="insertarnum(5)">5</button>
      <button class="boton" (click)="insertarnum(4)">4</button>
      <button class="boton" (click)="insertarnum(3)">3</button>
      <button class="boton" (click)="insertarnum(2)">2</button>
      <button class="boton" (click)="insertarnum(1)">1</button>
      <button class="boton" (click)="insertarnum('.')">.</button>
      <button class="boton" (click)="insertarnum(0)">0</button>
      <button class="boton" (click)="insertarnum('00')">00</button>
    </div>
    <div class="col" id="operadores">
      <button class="operador" (click)="borrarnum()">DEL</button>
      <button class="operador" (click)="insertarnum('/')">/</button>
      <button class="operador" (click)="insertarnum('*')">*</button>
      <button class="operador" (click)="insertarnum('+')">+</button>
      <button class="operador" (click)="insertarnum('-')">-</button>
      <button class="operador" (click)="calcular()">=</button>
    </div>
  </div>
</div>
